
.nav{
        display: flex;
        list-style: none;
        background: transparent;
        margin-left: 2rem;
        
        li{
            background: transparent;
            padding: 0 2rem;
            margin-top: 3rem;
            margin-left: 3rem;
            font-size: 1.4rem;
        }    

        li:hover{
            color:  #0c70f2; 
            cursor: pointer;        
        }
}