
.nav{
        display: flex;
        list-style: none;
        background: transparent;
        margin-left: 2rem;
        
        li{
            background: transparent;
            padding: 0 2rem;
            margin-top: 3rem;
            margin-left: 1.5rem;
            font-size: 1.4rem;
        }    

        li:hover{
            color:  #0c70f2; 
                 
        }

        a{
            color: black;
            text-decoration: none;
            background: none;
            cursor: pointer;  
        }
}